# ----------------------------------
# Logs
# ----------------------------------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ----------------------------------
# Node.js
# ----------------------------------
node_modules/
dist/
dist-ssr/
*.local

# ----------------------------------
# Editor directories and files
# ----------------------------------
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ----------------------------------
# Visual Studio / .NET
# ----------------------------------
.vs/
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]emp/
*.cache
*.pdb
*.obj
*.exe
*.dll
*.appx
*.appxupload
*.msix
*.msixupload
*.msixbundle
*.apk
*.aab

# VS Test
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Paquetes NuGet
*.nupkg
*.snupkg
*.nuspec
artifacts/

# Configuración local
*.vsidx
*.dbmdl
*.mdf
*.ldf
*.jfm
*.sqlite

# Rider / JetBrains
*.sln.iml

# Otros
_Dependencies/
